body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("/images/christopher-brown-g59zVZ5UmYY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

h1 , h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
}

.navbar {
    background-color: rgba(50,68,92,36);
    color: white;
}

/* large screen */

@media screen and (min-width: 992px) {
    .btn-select {
        margin: 50px 300px 50px 50px;
        padding: 50px;
        width: 200px;
        background-color: rgba(0,0,0,0.5);
        border-color: rgb(210,225,247);
        
    } 
}

/* small screen */
@media screen and (max-width: 991px) {
    #selectTask {
        margin: 0px;
        padding: 0px;
        width: 200px;
        background-color: rgba(0,0,0,0.2);
        border-color: rgb(210,225,247);
        
    } 
}

/* vertical carousel css*/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.site-footer {
    background-color: rgba(50,68,92,36);
    padding: 0;
    
}

#carouselButton {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(50,68,92,36);
    border-color: white;
    
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

.btn {
    color: white;
}

.row-content {
    padding: 60px 0;
    border-bottom: 1px ridge;
    min-height: 200px; 
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#feedbackButton {
    background-color: rgba(50,68,92,36);
    color: white;
}

.card-header {
    background-color: rgba(50,68,92,36);
}

.card {
    background-color: rgba(255,255,255,0.2);
    padding: 5px;
    
}

.facts {
    margin: 10px 0px 10px 0px;
}

#quote {
    background-color: rgba(255,255,255,0.2);
    color: white;
    
}

/* border grid lines */

/* .col {
    border: solid darkmagenta;
} */

.welcome {
    text-align: center;
    margin: auto;
    padding: 10px;
    color: rgba(50,68,92,36);
}